*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 95%;
    width: 100%;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
}

li {
    display: inline-block;
}
td {
    padding-bottom: 3px;
}
select {
    margin-right: 10px;
}

button {
    margin-right: 5px;
}
textarea {
    width: 400px;
    height: 70px;
}
/*classes for localization links*/
.active {
    color:red;
}
#link {
    color: black;
}

header{
    height: 10%;
    background-color: white;
    border: 2px solid black;
}

span.site-title {
    font-size: 70px;
    font-family: -webkit-body;
    margin-left: 30px;
    font-weight: bold;
}

.container{
   position: relative;
   overflow: auto;
   width: 100%;
   min-height: 100%;
}

ul.languages-block {
    list-style-type: none;
    margin-top: 3%;
    margin-right: 1%;
    float: right;
    width: 66px;
}

footer{
    text-align: center;
    width: calc(100% - 4px);
    border: 2px solid black;
}

.content{
    height: calc(100% - 22px);
  /*  margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 26px;
    border:1px dotted black;
    padding-bottom: 4px;*/
}

.drownboxes{
    display: inline-block;
    margin-left: 50%;
    padding: 2%;
}
.pagination{
    position: absolute;
    bottom: 30px;
    height: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}
.item{
    margin: 10px;
    padding: 5px;
    border: 1px dotted black;
}
.inline {
    display: inline-block;
    margin-top: 13px;
}
.inline input:hover{
    background: grey;
}
.pagination-button{
    width: 28px;
    height: 28px;
}
p.bottom-item {
    text-align: right;
}
p.top-item {
    margin-bottom: 20px;
}
.top-link {
    margin: 10px;
}
.news-header {
    margin-left: 110px;
    margin-right: 80px;
}
.news-header:after{
    content: "";
    display: block;
    clear: both;
}
span.top-span {
}
.header-left{
    width: 60%;
    float: left;
}
.header-middle{
    float: right;
    width: 30%;
}
.header-right{
    float: right;
    width: 10%;
}



.main-body-current-news {
    width: 85%;
    margin-left: 110px;
    margin-top: 25px;
}
.comments-block {
    margin-left: 110px;
    margin-top: 30px;
}
.comment-item {
    padding-top: 5px;
    width: 400px;
    padding-bottom: 10px;
}
span.comment-text {
    background: lavender;
}
.comment-item {
    padding-top: 5px;
    width: 400px;
    padding-bottom: 10px;
}
input.post-comment-button {
    height: 30px;
    width: 102px;
    margin-left: 298px;
    margin-top: 10px;
}
.bottom-links {
    text-align: center;
}

.prev {
    display: inline-block;
    width: 49%;
    text-align: left;
}
.next {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.login {
    margin: 0 auto;
    width: 222px;
}
.login-button{
    height: 28px;
    width: 77px;
}
input, label {
    display: block;
}